body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background: linear-gradient(0deg, #F0F0F0, white, #F0F0F0	);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a:hover {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
#intro{
  text-align:center;
  font-size: 25px;
  border: black;
  border-style: solid;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
p {
  font-size: 23px;
  font-family: times-new-roman
}
ul {
    font-size: 23px;
  font-family: times-new-roman
}
}
#webdev{
  width:80%
}

